<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Новости</title>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="/css/users/writer/hidden/lists.css">
   <!-- <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    -->
</head>
<body>
<header th:insert="~{components/header :: header}"></header>
<div class="containerL">
    <h1>Новости</h1>

    <div class="rowL">
        <!-- Iterate over each news item -->
        <div class="cardsL" th:each="news : ${newsList}">
            <div class="cardL news-card" th:classappend="${!news.visible} ? 'hidden'">
                <!-- Card body with news title and description -->
                <a th:href="@{/writer/news/edit/{id}(id=${news.getNewsId()})}" class="card-body">
                    <img class="card-image" width="300px"
                         height="165px" th:src="@{/images/{id}(id=${news.getPreviewImageId()})}"></img>
                    <p class="card-data" th:text="${#dates.format(news.date, 'dd.MM.yyyy')}"></p>
                    <h5 class="card-title" th:text="${news.title}"></h5>
                    <p class="card-text" th:text="${news.description}"></p>
                </a>
            </div>
        </div>
    </div>
</div>
</body>
</html>
