<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Проекты</title>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="/css/users/writer/hidden/lists.css">
    <!-- <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
     -->
</head>
<body>
<header th:insert="~{components/header :: header}"></header>
<div class="containerL">
    <h1>Проекты</h1>

    <div class="row-project">
        <!-- Iterate over each news item -->
        <div class="cardsL" th:each="project : ${projectsList}" th:if="${!project.visible}">
            <div class="cardL news-card" th:classappend="${!project.visible} ? 'hidden'">
                <!-- Card body with news title and description -->
                <a th:href="@{/writer/project/edit/{id}(id=${project.getProjectId()})}" class="card-body">
                    <img class="card-image" width="300px"
                         height="165px" th:src="@{/images/{id}(id=${project.getPreviewImageId()})}"></img>
                    <h5 class="card-title" th:text="${project.title}"></h5>
                    <p class="card-text" th:text="${project.description}"></p>
                </a>
            </div>
        </div>
    </div>
</div>
</body>
</html>
