<html xmlns:th="http://www.thymeleaf.org">
<div class="data-bases" th:fragment="data-bases">
    <div style="margin: 4rem 10% 5rem 10% ;">
        <div class="db-top">
            <h1>Базы данных</h1>
            <div style="margin-top: 1rem;"><p>Текст про базы данных где-то в строчки две <br>
                Текст про базы данных где-то в строчки две</p>
                <a th:href="@{/data-bases}">Смотреть все базы данных</a>
            </div>
        </div>
        <div class="db-cards">
            <div th:each="db : ${dataBasesList}" th:if="${db.visible}" class="db-card">
                <h2 th:text="${db.title}"></h2>
                <p th:text="${db.description}"></p>
                <a th:href="@{/data-base/{id}(id=${db.getDbId()})}">Подробнее</a>
            </div>
        </div>
    </div>
</div>