<html xmlns:th="http://www.thymeleaf.org">
<div class="data-bases" th:fragment="data-bases">
    <div style="margin: 4rem 10% 5rem 10% ;">
        <div class="db-top">
            <h1>Базы данных</h1>
            <div style="margin-top: 1rem;"><p>Текст про базы данных где-то в строчки две <br>
                Текст про базы данных где-то в строчки две</p>
                <a href="https://library.bntu.by/bazy-dannyh/">Смотреть все базы данных</a>
            </div>
        </div>
        <div class="db-cards">
            <div class="db-card">
                <h2>БНТУ в СМИ</h2>
                <p>Полнотекстовая аналитическая база данных
                    «БНТУ в СМИ»является продолжением базы
                    данных «Политех в прессе».</p>
                <a>Подробнее</a>
            </div>
            <div class="db-card">
                <h2>ЕАПАТИС</h2>
                <p>СистемаЕАПАТИСразработана Евразийским патентным
                    ведомством (ЕАПВ) с целью повышения эффективности
                    и качества проведения патентных поисков и
                    патентно-информационного обеспечения экспертизы
                    заявок на изобретения. Объем предоставляемой
                    пользователям патентной информации
                    (с учетом полных описаний патентных документов
                    по отдельным БД) составляет свыше 1,5 терабайт.</p>
                <a>Подробнее</a>
            </div>
            <div class="db-card">
                <h2>ИПС «СтройДОК Online»
                </h2>
                <p>Официальный информационный ресурс Минстройархитектуры
                    Республики Беларусь. Полнотекстовая база данных,
                    содержит национальные технические нормативные
                    правовые акты в области архитектуры и строительства;
                    межгосударственные стандарты в области архитектуры
                    и строительства, действующие на территории
                    республики; официальные документы
                    Минстройархитектуры в области </p>
                <a>Подробнее</a>
            </div>
        </div>
    </div>
</div>