<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="times"  class="events-calendar">
    <div style="padding: 4rem 10% 0 10% ;">
        <div class="ec-top">
            <h1>Обзоры на Times</h1>
            <div class="ec-top-text">
                <p>Текст какой-нибудь очень интересный будет супер пупер классно, если в две строчки даже его </p>
                <a th:href="@{/times}">Смотреть все базы события</a>
            </div>
        </div>
        <div class="ec-cards">
            <div th:each="times : ${timesList}" th:if="${times.visible}">
                <!--                <a class="ec-card" th:href="@{/times/{id}(id=${times.getTimes_id()})}">-->
                <a class="ec-card" th:href="${times.getLink()}">
                    <img th:src="@{/images/{id}(id=${times.getPreviewImageId()})}"
                         alt="">
                    <h2 th:text="${times.getTitle()}"></h2>
                    <p th:text="${#strings.capitalize(#dates.format(times.getDate(), 'MMMM dd, yyyy'))}"></p>
                </a>
            </div>
        </div>
    </div>
</div>