<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${dataBase.title}"></title>
    <link rel="stylesheet" href="/css/view.css">
    <link href="/css/footer.css" rel="stylesheet">
</head>
<body>
<header th:insert="~{components/header :: header}"></header>
<div class="container" style="padding-top: 6rem;">
    <div class="content-container">
        <!-- News Content -->
        <div class="content">
            <h1 th:text="${dataBase.title}" class="title"></h1>
            <div th:if="${usersession.hasRole('Writer')}">
                <a class="news-content-edit"
                   th:href="@{/writer/data-base/edit/{id}(id=${dataBase.getDbId()})}">Редактировать</a>
            </div>

            <div th:utext="${dataBase.getContent()}" class="text"></div>
        </div>
    </div>
</div>
<header th:insert="~{components/footer :: footer}"></header>
</body>
</html>
