<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${event.getTitle()}"></title>
    <!-- Здесь подключите ваши стили -->
    <link rel="stylesheet" href="/css/view.css">
</head>
<body>
<header th:insert="~{components/header :: header}"></header>
<div class="container" style="padding-top: 6rem;">
    <div class="content-container">
        <!-- News Content -->
        <div class="content">
            <h1 th:text="${event.title}" class="title"></h1>
            <p class="tags">
                Теги:
                <a th:href="@{/tag/{tagId}/events(tagId=${tag.getTagId()})}" th:each="tag : ${event.getTags()}" class="tag">
                    #<span th:text="${tag.name}"></span></a>
            </p>
            <div th:if="${usersession.hasRole('Writer')}">
                <a class="news-content-edit" th:href="@{/writer/event/edit/{id}(id=${event.getEventId()})}">Редактировать</a>
            </div>
            <div class="date">
                <p th:text="${#dates.format(event.getDate(), 'dd.MM.yyyy')}"></p>
            </div>
            <div th:utext="${event.getContent()}" class="text"></div>
            <div class="date">
                <p th:text="${#dates.format(event.getDate(), 'dd.MM.yyyy')}"></p>
            </div>
        </div>
    </div>
</div>
</body>
</html>
