<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${news.title}"></title>
    <link rel="stylesheet" href="/css/view.css">
    <link href="/css/footer.css" rel="stylesheet">
</head>
<body>
<header th:insert="~{components/header :: header}"></header>
<div class="container" style="padding-top: 6rem;">
    <div class="content-container">
        <!-- News Content -->
        <div class="content">
            <h1 th:text="${news.title}" class="title"></h1>
            <p class="tags">
                Теги:
                <a th:href="@{/tag/{tagId}/news(tagId=${tag.getTagId()})}" th:each="tag : ${news.getTags()}" class="tag">
                    #<span th:text="${tag.name}"></span></a>
            </p>
            <div th:if="${usersession.hasRole('Writer')}">
                <a class="news-content-edit" th:href="@{/writer/news/edit/{id}(id=${news.getNewsId()})}">Редактировать</a>
            </div>
            <div class="date">
                <p th:text="${#dates.format(news.getDate(), 'dd.MM.yyyy')}"></p>
            </div>
            <div th:utext="${news.getContent()}" class="text"></div>
            <div class="date">
                <p th:text="${#dates.format(news.getDate(), 'dd.MM.yyyy')}"></p>
            </div>
        </div>
    </div>
</div>
<header th:insert="~{components/footer :: footer}"></header>
</body>
</html>