<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Writer Dashboard</title>
    <!-- Подключение стилей Bootstrap для красивого дизайна -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<!-- Включение шапки страницы -->
<header th:insert="~{components/header :: header}"></header>

<div class="container mt-4" style="padding-top: 5rem">
    <h2>Добавить</h2>
    <!-- Кнопки для добавления контента -->
    <div class="row mt-4">
        <div class="col-md-3">
            <a th:href="@{/writer/publication/add}" class="btn btn-primary btn-block mb-3">Добавить карточку публикации</a>
        </div>
        <div class="col-md-3">
            <a th:href="@{/writer/publication-page/add}" class="btn btn-primary btn-block mb-3">Добавить страницу публикации</a>
        </div>
        <div class="col-md-3">
            <a th:href="@{/writer/news/add}" class="btn btn-primary btn-block mb-3">Добавить новость</a>
        </div>
        <div class="col-md-3">
            <a th:href="@{/writer/data-base/add}" class="btn btn-primary btn-block mb-3">Добавить базу данных</a>
        </div>
        <div class="col-md-3">
            <a th:href="@{/writer/project/add}" class="btn btn-primary btn-block mb-3">Добавить проект</a>
        </div>
        <div class="col-md-3">
            <a th:href="@{/writer/online-service/add}" class="btn btn-primary btn-block mb-3">Добавить Онлайн сервис</a>
        </div>
        <div class="col-md-3">
            <a th:href="@{/writer/event/add}" class="btn btn-primary btn-block mb-3">Добавить событие</a>
        </div>
        <div class="col-md-3">
            <a th:href="@{/writer/times/add}" class="btn btn-primary btn-block mb-3">Добавить Times</a>
        </div>
    </div>
</div>
<div class="container mt-4" style="padding-top: 5rem">
    <h2>Редактировать</h2>
    <!-- Кнопки для добавления контента -->
    <div class="row mt-4">
        <div class="col-md-3">
            <a th:href="@{writer/publications}" class="btn btn-primary btn-block mb-3">Публикации</a>
        </div>
        <div class="col-md-3">
            <a th:href="@{writer/news}" class="btn btn-primary btn-block mb-3">Новости</a>
        </div>
        <div class="col-md-3">
            <a th:href="@{writer/data-bases}" class="btn btn-primary btn-block mb-3">Базы данных</a>
        </div>
        <div class="col-md-3">
            <a th:href="@{writer/projects}" class="btn btn-primary btn-block mb-3">Проекты</a>
        </div>
        <div class="col-md-3">
            <a th:href="@{writer/online-services}" class="btn btn-primary btn-block mb-3">Онлайн сервисы</a>
        </div>
        <div class="col-md-3">
            <a th:href="@{writer/events}" class="btn btn-primary btn-block mb-3">События</a>
        </div>
        <div class="col-md-3">
            <a th:href="@{writer/times}" class="btn btn-primary btn-block mb-3">Times</a>
        </div>
    </div>
</div>

<!-- Подключение скриптов Bootstrap для интерактивности -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
