<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрационные коды</title>
    <link rel="stylesheet" href="/css/users/admin/codes.css">
</head>
<body>
<div class="container">
    <h2>Генерация регистрационных кодов</h2>
    <div class="button-container">
        <form th:action="'/admin/generate-admin-code'" method="post">
            <button type="submit">Создать код администратора</button>
        </form>
        <form th:action="'/admin/generate-writer-code'" method="post">
            <button type="submit">Создать код писателя</button>
        </form>
    </div>

    <h2>Текущие коды</h2>
    <div class="codes-container">
        <div>
            <h3>Коды администратора</h3>
            <table>
                <thead>
                <tr>
                    <th>Коды</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="code : ${adminCodes}">
                    <td th:text="${code.getCode()}"></td>
                </tr>
                </tbody>
            </table>
        </div>

        <div>
            <h3>Коды писателя</h3>
            <table>
                <thead>
                <tr>
                    <th>Коды</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="code : ${writerCodes}">
                    <td th:text="${code.getCode()}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>
