<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Times</title>
    <!-- Include Bootstrap CSS -->
  <!--  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">-->
    <link rel="stylesheet" href="/css/users/writer/hidden/lists.css">
</head>
<body>
<header th:insert="~{components/header :: header}"></header>
<div style="padding-top: 6rem" class="containerL">
    <h1>Список Times</h1>
    <div class="rowL" th:if="${emptyOrAllHidden}">
        <div class="centered-message">
            <h2>Обзоры на Times скоро появятся</h2>
        </div>
    </div>
    <div class="rowL">
        <!-- Iterate over each news item -->
        <div class="cardsL" th:each="times : ${timesList}" th:if="${times.visible}">
            <div class="cardL news-card">
                <!-- Card body with news title and description -->
                <a class="card-body" th:href="@{/times/{id}(id=${times.getTimesId()})}">
                    <img class="card-image" width="300px"
                         height="165px" th:src="@{/images/{id}(id=${times.getPreviewImageId()})}"></img>
                    <p class="card-data" th:text="${#dates.format(times.date, 'dd.MM.yyyy')}"></p>
                    <h5 class="card-title" th:text="${times.title}"></h5>
              <!--      <p class="card-text" th:text="${times.description}"></p>-->
                </a>
            </div>
        </div>
    </div>
</div>
</body>
</html>
