.carousel-container {
    position: relative;
    width: 100%;
    height: 85%;
    overflow: hidden;
}

.carousel {
    display: flex;
    transition: transform 0.5s ease;
}

.slide {
    display: flex;
    flex: 0 0 auto;
    width: 85%;
    /*height:40rem;*/
    min-height: 40rem;
    margin-right: 2rem; /* Пространство между слайдами */
    background-size: cover; /* Заполнение всего div фоном */
    background-repeat: no-repeat; /* Отключение повторения фона */
    border-radius: 25px;
    justify-content: left; /* Расположение внизу */
    align-items: end;
}
.slide::after{
    content: '';
    display: block;
    height: 200px;
}
/*.slide.slide-placeholder {*/
/*    background-image: url('/static/images/projects.png'); !* Установка фонового изображения *!*/
/*    background-size: cover; !* Заполнение всего div фоном *!*/
/*    background-repeat: no-repeat; !* Отключение повторения фона *!*/
/*    border-radius: 25px;*/
/*    justify-content: left; !* Расположение внизу *!*/
/*    align-items: end;*/
/*    flex: 0 0 auto;*/
/*    width: 85%;*/
/*    margin-right: 2rem; !* Пространство между слайдами *!*/
/*}*/

.slide img {
    width: 100%;
}

.slide-details {
    background-color: #6c68ad;
    display: flex;
    font-family: "Roboto Slab";
    color: white;
    border-radius: 2rem;
    flex-direction: column;
    justify-content: space-around;
    min-width: 40%;
    min-height: 30%;
    max-width: 40%;
    max-height: 30%;
    margin: 0 0 3rem 3rem;
    padding: 1rem 1rem 1rem 1rem;
}

.carousel-button{
    border-radius: 50%;
    align-items: center;
    border: 0;
    padding: 0;
    background-color: transparent;
    background-size: 100% 100%;
    font-family: "Roboto", serif;
    font-weight: bold;
    font-size: .88rem;
    transition: background-color .2s;
}

.carousel-svg path {
    fill: white;
}

.carousel-button:hover .carousel-svg path {
    fill: #e8e8e9;
}

