@media (max-width: 999px){
    .footer {
        background-color: #007b55;
        color: #fff;
        padding: 20px;
        text-align: center;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
    }
}
@media (min-width: 1000px) {
    .footer {
        background-color: #007b55;
        color: #fff;
        padding: 20px;
        text-align: center;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
    }
}
body {
    margin: 0 auto;
    font-family: "Roboto";
}

.footer-left, .footer-center, .footer-right {
/*    flex: 1;*/
}
.footer-center {
    text-align: center;
}

.footer-left {
    text-align: left;
}

.footer-right {
    text-align: right;
}
.footer-content {
    font-size: 28px;
    color: white;
    /*margin: 10% 34% 0;*/
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
}

.footer-links {
    display: flex;
    align-items: center;
    justify-content: center;

}

.footer-link {
    margin: .25rem .25rem .25rem .25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border-radius: .5rem;
    border: solid #cccccc;
}

.footer-link svg {
    display: block;
    margin: auto;
}