<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User</title>
</head>
<body>
<h1>User</h1>
<hr>
<h3 th:text="'Редактирование пользователя ' + ${user.username}"></h3>
<form action="/admin/user/edit" method="post">
    <div th:each="role : ${roles}">
        <div>
            <input type="checkbox" th:name="roleIds" th:value="${role.getRole_id()}"
                   th:id="'role_' + ${role.getRole_id()}"
                   th:checked="${user.roles.contains(role)}">
            <label th:for="'role_' + ${role.getRole_id()}" th:text="${role.getAuthority()}"></label>
        </div>
    </div>
    <input type="hidden" th:value="${user.id}" name="userId">
    <input type="hidden" th:value="${_csrf.token}" name="_csrf">
    <button type="submit">Сохранить</button>
</form>

</body>
</html>