<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${onlineService.getTitle()}"></title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link th:rel="stylesheet" th:href="@{/assets/summernote/summernote-bs4.css}"/>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <style>
        body {
            background-color: #f8f9fa;
        }
        .container {
            padding-top: 6rem;
        }
        .card {
            background-color: #e9ecef; /* светло-серый */
            color: #212529; /* черный */
        }
        .form-control {
            background-color: #f1f3f5; /* серый */
            color: #212529; /* черный */
        }
        .btn-success {
            background-color: #198754; /* зеленый */
            border-color: #198754; /* зеленый */
        }
        .btn-success:hover {
            background-color: #157347; /* темно-зеленый */
            border-color: #157347; /* темно-зеленый */
        }
    </style>
</head>
<body>
<header th:insert="~{components/header :: header}"></header>
<div class="container mt-2">
    <div class="card">
        <h1 class="card-header">Редактировать онлайн сервис</h1>
        <div class="card-body">
            <form th:action="@{/writer/online-service/edit/{id}(id=${onlineService.getOsID()})}" method="post" th:object="${onlineService}" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="title" class="text-dark">Заголовок:</label>
                    <input type="text" name="title" id="title" th:field="*{title}" placeholder="Введите заголовок" class="form-control" required>
                    <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span>
                </div>
                <div class="form-group">
                    <label for="svgFile" class="text-dark">SVG файл:</label>
                    <input type="file" id="svgFile" name="svgFile" accept=".svg" class="form-control-file">
                </div>

                <div class="form-group">
                    <label for="svgInput" class="text-dark">SVG:</label>
                    <textarea name="svg" id="svgInput" placeholder="Введите SVG" th:field="*{cover}" class="form-control" required></textarea>
                </div>

                <div class="form-group">
                    <div id="link-input">
                        <label for="coverLink" class="text-dark">Введите ссылку на сервис:</label>
                        <input type="text" name="link" th:field="*{link}" id="coverLink" class="form-control">
                        <span th:if="${#fields.hasErrors('link')}" th:errors="*{link}"></span>
                    </div>
                </div>
                <div class="form-group form-check">
                    <input type="checkbox" name="visible" id="visible" class="form-check-input" th:checked="${onlineService.visible}">
                    <label for="visible" class="form-check-label">Отображение</label>
                </div>
                <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
                <button type="submit" class="btn btn-success">Обновить</button>
            </form>
            <div class="col-4">
                <form method="post" th:action="@{/writer/online-service/delete/{id}(id=${onlineService.getOsID()})}" enctype="multipart/form-data">
                    <button type="submit" class="btn btn-danger btn-lg">Удалить</button>
                </form>
            </div>
            <span th:text="${error}"></span>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
<!--<script th:src="@{/webjars/jquery/jquery.min.js}"></script>-->
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/assets/summernote/summernote-bs4.js}"></script>
<script>
    $('#content').summernote({
        height: 200
    });
</script>
<script>
    $(document).ready(function() {
        $('#tagsInput').select2({
            tags: true,
            tokenSeparators: [',', ' '],
            placeholder: 'Type or select tags',
        });

        // Add event handler for form submission
        $('form').submit(function() {
            var tags = $('#tagsInput').val(); // Get selected tag values
            // Create hidden form field and set its value
            $('<input>').attr({
                type: 'hidden',
                name: 'tags',
                value: tags
            }).appendTo('form');
        });
    });

    var fileInput = document.getElementById("file-input");
    var linkInput = document.getElementById("link-input");
    var fileTypeSelect = document.getElementById("file-type-select");

    fileTypeSelect.addEventListener("change", function () {
        if (this.value === "file") {
            fileInput.style.display = "block";
            linkInput.style.display = "none";
        } else {
            fileInput.style.display = "none";
            linkInput.style.display = "block";
        }
    });
</script>
<script>
    // Event listener for file input change
    document.getElementById('svgFile').addEventListener('change', function(e) {
        var reader = new FileReader();
        reader.onload = function() {
            // Set the value of the SVG input to the file's contents
            document.getElementById('svgInput').value = reader.result;
        };
        // Read the file as text
        reader.readAsText(e.target.files[0]);
    });
</script>
</body>
</html>
