.fc-button {
    background: #008054;
    color: #FFFFFF; /* Опционально: изменяет цвет текста на белый */
}
.fc a {
    color: inherit !important;
    text-decoration: none !important;
}
.fc-daygrid-event-dot{
    display: none;
}
.fc-event{
    background-color: #008054;
    color: white;
    flex-direction: column !important;
}
.fc-event:hover{
    background-color: #00a66d;
    color: white;
}
.fc-event-time{
    color: white;
}
.fc-event-title{
    color: white;
}